@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

:root {
	--background: #ffffff;
	--foreground: #000000;
	--alternate-background: #252831;
	--alternate-foreground: #ffffff;
	--selected: #f00;
	--bg-foreground: #a7a7a7;
	--indent: 40px;
}

.darkmode {
	--background: #252831;
	--foreground: #ffffff;
	--alternate-background: #ffffff;
	--alternate-foreground: #000000;
}

body {
	background-image: url("../images/background.jpg");
	background-size: cover;
}

.text {
	font-family: Segoe UI, Tahoma, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--foreground);
}

.emphisized { font-weight: 600; }

.bgText {
	font-weight: 400;
	color: var(--bg-foreground);
}

.help {
	font-size: 12px;
	text-decoration: none;
	color: var(--alternate-background);
}

.spaced { margin-bottom: 20px; }

.btn {
	color: var(--alternate-foreground);
	background-color: var(--foreground);
	border-radius: 30px;
	font-weight: 900;
	cursor: pointer;
}

.qButton {
	width: 60px;
	height: 60px;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.proceedBtn {
	width: 150px;
	height: 40px;
	margin: 10px;
	border: 2px solid;
}

.option {
	margin-top: 5px;
	display: inline-block;
	height: 48px;
	outline: none;
	stroke-dasharray: 100px;
	stroke-dashoffset: 200px;
}

.outline { stroke: var(--foreground); }

.option:hover { cursor: pointer; }

.option:focus .outline {
	stroke-width: 4;
	animation: select-anim 0.5s ease-in-out forwards;
}

.bottom {
	padding-top: 10px;
	border-top: 1px var(--foreground) solid;
}

.modal-header, .close {
	color: var(--alternate-foreground);
	background-color: var(--alternate-background);
}

.modal-body {
	color: var(--foreground);
	background-color: var(--background);
}

#content {
	height: 100%;
	background-color: var(--background);
	margin: 0 auto;
	padding: 20px;
	box-shadow: 2px 2px 5px #0008;
}

#theme {
	float: right;
	cursor: pointer;
}

#theme path { fill: var(--foreground); }

#title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	color: var(--alternate-background);
}

#stars {
	padding: 0px;
	display: inline-block;
	margin-right: var(--indent);
}

#stars img { margin-right: 4px; }

#price {
	color: #D15164;
	font-weight: 700;
	font-size: 30px;
}

#laces { fill: var(--selected); }

#shoe { fill: var(--alternate-background); }

#count {
	margin-right: var(--indent);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 25px;
	border: var(--foreground) solid 2px;
}

#actionButton {
	border: 2px solid var(--foreground);
	height: 50px;
	outline: none;
	-webkit-text-stroke: var(--backhround) 1px;
	transition: 0.5s;
}

#actionButton:hover { background-color: var(--selected); }

#quantityBody { text-align: center; }

#count2 {
	font-size: 50px;
	font-weight: 600;
}

#continue {
	border-color: #118111;
	background-color: #4da04d;
}

#cancel {
	border-color: #f00;
	background-color: #ff5353;
}

#needHelp { cursor: pointer; }

/* Selection animation for the round color options */
@keyframes select-anim{
	to {
		stroke-dasharray: 201px;
		stroke-dashoffset: 0px;
	}
}

/* Center  */
@media (max-width: 768px) {
    .text-center-sm {
		text-align: center;
	}

	.indented {
		margin-left: 0px;
	}
}